CMakeSettings.json
compile_commands.json
build
build_*
build-*
!build_and_test_celerity.sh
!build_and_run_bench.sh
!build_bench.sh
results/
install
.cache/
.vs/
.vscode/
.idea/
/tags
__pycache__/
variant_test_results*
tmp*
xx*
yy*
zz*
ww*